<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1101041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{114,130}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{114,130}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>1101042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{100,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{100,146}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>1101043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,479},{132,146}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{132,146}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>1101044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,613},{138,148}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{138,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>1101045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,753},{138,148}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{138,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>1101046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,219},{126,148}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{126,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>1101047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,347},{130,144}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{130,144}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>110104.png</string>
            <key>size</key>
            <string>{150,892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58d9cd6386e9b4e89a1e2a14e92c96c7:68de68735d87723c4a807de02d221248:171960c0ae2bc4ebe86ed5f532d57bf0$</string>
            <key>textureFileName</key>
            <string>110104.png</string>
        </dict>
    </dict>
</plist>
