<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9000111.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1},{266,338}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,51},{266,338}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>9000112.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,349},{272,340}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,45},{272,340}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>9000113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,351},{278,346}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,43},{278,346}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>9000114.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,341},{258,336}}</string>
                <key>offset</key>
                <string>{-24,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,54},{258,336}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>9000115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{268,348}}</string>
                <key>offset</key>
                <string>{-26,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,45},{268,348}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>9000116.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1},{272,346}}</string>
                <key>offset</key>
                <string>{-25,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,47},{272,346}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>9000117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,699},{286,322}}</string>
                <key>offset</key>
                <string>{-20,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,69},{286,322}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>9000118.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,691},{290,326}}</string>
                <key>offset</key>
                <string>{-17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,63},{290,326}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>900011.png</string>
            <key>size</key>
            <string>{814,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41423cf44bde672b6a04b9e1fb227451:dfac7ac6702d4a7c7b63c966760226f5:ede0ff4c0336d7883f6a8080b92dce76$</string>
            <key>textureFileName</key>
            <string>900011.png</string>
        </dict>
    </dict>
</plist>
