<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss4_hit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,238}</string>
                <key>spriteSourceSize</key>
                <string>{293,238}</string>
                <key>textureRect</key>
                <string>{{293,946},{293,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,236}</string>
                <key>spriteSourceSize</key>
                <string>{293,236}</string>
                <key>textureRect</key>
                <string>{{586,234},{293,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_hit3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,234}</string>
                <key>spriteSourceSize</key>
                <string>{293,234}</string>
                <key>textureRect</key>
                <string>{{586,0},{293,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_hit4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,231}</string>
                <key>spriteSourceSize</key>
                <string>{293,231}</string>
                <key>textureRect</key>
                <string>{{0,0},{293,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_hit5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,233}</string>
                <key>spriteSourceSize</key>
                <string>{293,233}</string>
                <key>textureRect</key>
                <string>{{293,0},{293,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_hit6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,234}</string>
                <key>spriteSourceSize</key>
                <string>{293,234}</string>
                <key>textureRect</key>
                <string>{{0,234},{293,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_hit7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,235}</string>
                <key>spriteSourceSize</key>
                <string>{293,235}</string>
                <key>textureRect</key>
                <string>{{293,234},{293,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_hit8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,237}</string>
                <key>spriteSourceSize</key>
                <string>{293,237}</string>
                <key>textureRect</key>
                <string>{{0,470},{293,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_hit9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,238}</string>
                <key>spriteSourceSize</key>
                <string>{293,238}</string>
                <key>textureRect</key>
                <string>{{0,1184},{293,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,238}</string>
                <key>spriteSourceSize</key>
                <string>{293,238}</string>
                <key>textureRect</key>
                <string>{{0,946},{293,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_idle10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,238}</string>
                <key>spriteSourceSize</key>
                <string>{293,238}</string>
                <key>textureRect</key>
                <string>{{293,1184},{293,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,238}</string>
                <key>spriteSourceSize</key>
                <string>{293,238}</string>
                <key>textureRect</key>
                <string>{{586,1184},{293,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,238}</string>
                <key>spriteSourceSize</key>
                <string>{293,238}</string>
                <key>textureRect</key>
                <string>{{586,946},{293,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,238}</string>
                <key>spriteSourceSize</key>
                <string>{293,238}</string>
                <key>textureRect</key>
                <string>{{293,708},{293,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,238}</string>
                <key>spriteSourceSize</key>
                <string>{293,238}</string>
                <key>textureRect</key>
                <string>{{586,470},{293,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,238}</string>
                <key>spriteSourceSize</key>
                <string>{293,238}</string>
                <key>textureRect</key>
                <string>{{293,470},{293,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,238}</string>
                <key>spriteSourceSize</key>
                <string>{293,238}</string>
                <key>textureRect</key>
                <string>{{586,708},{293,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_idle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,238}</string>
                <key>spriteSourceSize</key>
                <string>{293,238}</string>
                <key>textureRect</key>
                <string>{{0,708},{293,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4_idle9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,238}</string>
                <key>spriteSourceSize</key>
                <string>{293,238}</string>
                <key>textureRect</key>
                <string>{{0,1422},{293,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss4_9_10.png</string>
            <key>size</key>
            <string>{879,1660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47aaeff4334c68e8e24c2ea151fafcdb:b423dcac8218c23db208562329949173:d918917479f02226b5ecca0a872f9250$</string>
            <key>textureFileName</key>
            <string>boss4_9_10.png</string>
        </dict>
    </dict>
</plist>
