<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss3_hit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,247}</string>
                <key>spriteSourceSize</key>
                <string>{215,247}</string>
                <key>textureRect</key>
                <string>{{631,0},{215,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,247}</string>
                <key>spriteSourceSize</key>
                <string>{216,247}</string>
                <key>textureRect</key>
                <string>{{1493,0},{216,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_hit3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,247}</string>
                <key>spriteSourceSize</key>
                <string>{215,247}</string>
                <key>textureRect</key>
                <string>{{846,0},{215,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_hit4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,247}</string>
                <key>spriteSourceSize</key>
                <string>{216,247}</string>
                <key>textureRect</key>
                <string>{{0,247},{216,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_hit5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,247}</string>
                <key>spriteSourceSize</key>
                <string>{217,247}</string>
                <key>textureRect</key>
                <string>{{432,247},{217,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_hit6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,247}</string>
                <key>spriteSourceSize</key>
                <string>{218,247}</string>
                <key>textureRect</key>
                <string>{{649,247},{218,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_hit7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,231}</string>
                <key>spriteSourceSize</key>
                <string>{211,231}</string>
                <key>textureRect</key>
                <string>{{206,0},{211,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_hit8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,221}</string>
                <key>spriteSourceSize</key>
                <string>{206,221}</string>
                <key>textureRect</key>
                <string>{{0,0},{206,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,247}</string>
                <key>spriteSourceSize</key>
                <string>{216,247}</string>
                <key>textureRect</key>
                <string>{{1061,0},{216,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,247}</string>
                <key>spriteSourceSize</key>
                <string>{216,247}</string>
                <key>textureRect</key>
                <string>{{1277,0},{216,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,247}</string>
                <key>spriteSourceSize</key>
                <string>{218,247}</string>
                <key>textureRect</key>
                <string>{{867,247},{218,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,248}</string>
                <key>spriteSourceSize</key>
                <string>{218,248}</string>
                <key>textureRect</key>
                <string>{{1303,247},{218,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,248}</string>
                <key>spriteSourceSize</key>
                <string>{220,248}</string>
                <key>textureRect</key>
                <string>{{1521,247},{220,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,248}</string>
                <key>spriteSourceSize</key>
                <string>{218,248}</string>
                <key>textureRect</key>
                <string>{{1085,247},{218,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,247}</string>
                <key>spriteSourceSize</key>
                <string>{216,247}</string>
                <key>textureRect</key>
                <string>{{216,247},{216,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_idle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,247}</string>
                <key>spriteSourceSize</key>
                <string>{216,247}</string>
                <key>textureRect</key>
                <string>{{1709,0},{216,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3_idle9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,246}</string>
                <key>spriteSourceSize</key>
                <string>{214,246}</string>
                <key>textureRect</key>
                <string>{{417,0},{214,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss3_8_9.png</string>
            <key>size</key>
            <string>{1925,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ac9c8c9555c2e30429aa14df90422ac:a00d49fae3409636b1a7f4f935263259:a5d9e138f47095c30593735a576b37b4$</string>
            <key>textureFileName</key>
            <string>boss3_8_9.png</string>
        </dict>
    </dict>
</plist>
