<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss1_hit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,304}</string>
                <key>spriteSourceSize</key>
                <string>{307,304}</string>
                <key>textureRect</key>
                <string>{{897,586},{307,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,299}</string>
                <key>spriteSourceSize</key>
                <string>{301,299}</string>
                <key>textureRect</key>
                <string>{{295,586},{301,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_hit3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,293}</string>
                <key>spriteSourceSize</key>
                <string>{295,293}</string>
                <key>textureRect</key>
                <string>{{0,586},{295,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_hit4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,287}</string>
                <key>spriteSourceSize</key>
                <string>{289,287}</string>
                <key>textureRect</key>
                <string>{{0,0},{289,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_hit5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,293}</string>
                <key>spriteSourceSize</key>
                <string>{295,293}</string>
                <key>textureRect</key>
                <string>{{1180,293},{295,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_hit6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,300}</string>
                <key>spriteSourceSize</key>
                <string>{301,300}</string>
                <key>textureRect</key>
                <string>{{596,586},{301,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_hit7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,307}</string>
                <key>spriteSourceSize</key>
                <string>{309,307}</string>
                <key>textureRect</key>
                <string>{{1204,586},{309,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,292}</string>
                <key>spriteSourceSize</key>
                <string>{294,292}</string>
                <key>textureRect</key>
                <string>{{289,0},{294,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,293}</string>
                <key>spriteSourceSize</key>
                <string>{295,293}</string>
                <key>textureRect</key>
                <string>{{885,293},{295,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,293}</string>
                <key>spriteSourceSize</key>
                <string>{295,293}</string>
                <key>textureRect</key>
                <string>{{590,293},{295,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,293}</string>
                <key>spriteSourceSize</key>
                <string>{295,293}</string>
                <key>textureRect</key>
                <string>{{877,0},{295,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,293}</string>
                <key>spriteSourceSize</key>
                <string>{295,293}</string>
                <key>textureRect</key>
                <string>{{1172,0},{295,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,293}</string>
                <key>spriteSourceSize</key>
                <string>{295,293}</string>
                <key>textureRect</key>
                <string>{{1467,0},{295,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,292}</string>
                <key>spriteSourceSize</key>
                <string>{295,292}</string>
                <key>textureRect</key>
                <string>{{0,293},{295,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_idle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,292}</string>
                <key>spriteSourceSize</key>
                <string>{295,292}</string>
                <key>textureRect</key>
                <string>{{295,293},{295,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss1_idle9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,292}</string>
                <key>spriteSourceSize</key>
                <string>{294,292}</string>
                <key>textureRect</key>
                <string>{{583,0},{294,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss1_7_9.png</string>
            <key>size</key>
            <string>{1762,893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ee708690a164df02edcacf35057bb45:7ffc1b577886af36099fc0afb87a17b7:5e6bc8c8a89a2d5d54742d9f1438b1e9$</string>
            <key>textureFileName</key>
            <string>boss1_7_9.png</string>
        </dict>
    </dict>
</plist>
