<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss2_hit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,284}</string>
                <key>spriteSourceSize</key>
                <string>{196,284}</string>
                <key>textureRect</key>
                <string>{{0,0},{196,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,293}</string>
                <key>spriteSourceSize</key>
                <string>{202,293}</string>
                <key>textureRect</key>
                <string>{{196,0},{202,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_hit3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,293}</string>
                <key>spriteSourceSize</key>
                <string>{202,293}</string>
                <key>textureRect</key>
                <string>{{0,293},{202,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_hit4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,312}</string>
                <key>spriteSourceSize</key>
                <string>{213,312}</string>
                <key>textureRect</key>
                <string>{{202,293},{213,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_hit5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,302}</string>
                <key>spriteSourceSize</key>
                <string>{207,302}</string>
                <key>textureRect</key>
                <string>{{0,605},{207,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_hit6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,293}</string>
                <key>spriteSourceSize</key>
                <string>{202,293}</string>
                <key>textureRect</key>
                <string>{{207,605},{202,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_hit7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,284}</string>
                <key>spriteSourceSize</key>
                <string>{196,284}</string>
                <key>textureRect</key>
                <string>{{0,907},{196,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,284}</string>
                <key>spriteSourceSize</key>
                <string>{196,284}</string>
                <key>textureRect</key>
                <string>{{196,907},{196,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,285}</string>
                <key>spriteSourceSize</key>
                <string>{199,285}</string>
                <key>textureRect</key>
                <string>{{0,1191},{199,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,285}</string>
                <key>spriteSourceSize</key>
                <string>{203,285}</string>
                <key>textureRect</key>
                <string>{{199,1191},{203,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,286}</string>
                <key>spriteSourceSize</key>
                <string>{206,286}</string>
                <key>textureRect</key>
                <string>{{0,1476},{206,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,285}</string>
                <key>spriteSourceSize</key>
                <string>{203,285}</string>
                <key>textureRect</key>
                <string>{{206,1476},{203,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,285}</string>
                <key>spriteSourceSize</key>
                <string>{199,285}</string>
                <key>textureRect</key>
                <string>{{0,1762},{199,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss2_idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,284}</string>
                <key>spriteSourceSize</key>
                <string>{196,284}</string>
                <key>textureRect</key>
                <string>{{199,1762},{196,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss2_7_7.png</string>
            <key>size</key>
            <string>{415,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fb0eecce2e3a0f783e0dfcd26e6d30f:9f025f36e4ea0dab51bab3b08a64f01a:1c3bc228d4554145a2e27f75959bc42c$</string>
            <key>textureFileName</key>
            <string>boss2_7_7.png</string>
        </dict>
    </dict>
</plist>
