<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss0_hit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{0,0},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_hit10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,309}</string>
                <key>spriteSourceSize</key>
                <string>{221,309}</string>
                <key>textureRect</key>
                <string>{{221,636},{221,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_hit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{209,0},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_hit3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{418,0},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_hit4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{627,0},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_hit5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{0,318},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_hit6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,309}</string>
                <key>spriteSourceSize</key>
                <string>{221,309}</string>
                <key>textureRect</key>
                <string>{{209,318},{221,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_hit7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,309}</string>
                <key>spriteSourceSize</key>
                <string>{221,309}</string>
                <key>textureRect</key>
                <string>{{430,318},{221,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_hit8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,309}</string>
                <key>spriteSourceSize</key>
                <string>{221,309}</string>
                <key>textureRect</key>
                <string>{{651,318},{221,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_hit9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,309}</string>
                <key>spriteSourceSize</key>
                <string>{221,309}</string>
                <key>textureRect</key>
                <string>{{0,636},{221,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{442,636},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_idle10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{627,1272},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{651,636},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{0,954},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{209,954},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{418,954},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{627,954},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{0,1272},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_idle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{209,1272},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss0_idle9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,318}</string>
                <key>spriteSourceSize</key>
                <string>{209,318}</string>
                <key>textureRect</key>
                <string>{{418,1272},{209,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boss0_10_10.png</string>
            <key>size</key>
            <string>{872,1590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8051178ff44609af440bfa70aa719cc:fa52786e2d84b17e8ca9dd5521a038c1:067ed5fcc94be092e646a4c95ac8169a$</string>
            <key>textureFileName</key>
            <string>boss0_10_10.png</string>
        </dict>
    </dict>
</plist>
