<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,171}</string>
                <key>spriteSourceSize</key>
                <string>{114,171}</string>
                <key>textureRect</key>
                <string>{{0,0},{114,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,168}</string>
                <key>spriteSourceSize</key>
                <string>{112,168}</string>
                <key>textureRect</key>
                <string>{{0,171},{112,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,166}</string>
                <key>spriteSourceSize</key>
                <string>{111,166}</string>
                <key>textureRect</key>
                <string>{{0,339},{111,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,168}</string>
                <key>spriteSourceSize</key>
                <string>{112,168}</string>
                <key>textureRect</key>
                <string>{{0,505},{112,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,177}</string>
                <key>spriteSourceSize</key>
                <string>{124,177}</string>
                <key>textureRect</key>
                <string>{{0,673},{124,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,177}</string>
                <key>spriteSourceSize</key>
                <string>{124,177}</string>
                <key>textureRect</key>
                <string>{{0,850},{124,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,180}</string>
                <key>spriteSourceSize</key>
                <string>{124,180}</string>
                <key>textureRect</key>
                <string>{{0,1027},{124,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,173}</string>
                <key>spriteSourceSize</key>
                <string>{121,173}</string>
                <key>textureRect</key>
                <string>{{0,1207},{121,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,176}</string>
                <key>spriteSourceSize</key>
                <string>{116,176}</string>
                <key>textureRect</key>
                <string>{{0,1380},{116,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,178}</string>
                <key>spriteSourceSize</key>
                <string>{121,178}</string>
                <key>textureRect</key>
                <string>{{0,1556},{121,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,175}</string>
                <key>spriteSourceSize</key>
                <string>{113,175}</string>
                <key>textureRect</key>
                <string>{{0,1734},{113,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy2.png</string>
            <key>size</key>
            <string>{124,1909}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec9eb2e6e59e8c7fe113ada316f6b7ba:d3e340cec5136ce40cf5d6bc85f8fa79:4df5ca112d6b3a155af448ebcb3be14c$</string>
            <key>textureFileName</key>
            <string>enemy2.png</string>
        </dict>
    </dict>
</plist>
