<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bower-sheet0_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,126}</string>
                <key>spriteSourceSize</key>
                <string>{89,126}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bower-sheet0_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,127}</string>
                <key>spriteSourceSize</key>
                <string>{89,127}</string>
                <key>textureRect</key>
                <string>{{89,0},{89,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bower-sheet0_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,126}</string>
                <key>spriteSourceSize</key>
                <string>{88,126}</string>
                <key>textureRect</key>
                <string>{{178,0},{88,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bower-sheet0_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,126}</string>
                <key>spriteSourceSize</key>
                <string>{86,126}</string>
                <key>textureRect</key>
                <string>{{266,0},{86,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bower-sheet0_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,128}</string>
                <key>spriteSourceSize</key>
                <string>{84,128}</string>
                <key>textureRect</key>
                <string>{{352,0},{84,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bower-sheet0_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,128}</string>
                <key>spriteSourceSize</key>
                <string>{83,128}</string>
                <key>textureRect</key>
                <string>{{436,0},{83,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bower-sheet0_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,128}</string>
                <key>spriteSourceSize</key>
                <string>{87,128}</string>
                <key>textureRect</key>
                <string>{{519,0},{87,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bower-sheet0_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,127}</string>
                <key>spriteSourceSize</key>
                <string>{90,127}</string>
                <key>textureRect</key>
                <string>{{606,0},{90,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bower-sheet0_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,127}</string>
                <key>spriteSourceSize</key>
                <string>{91,127}</string>
                <key>textureRect</key>
                <string>{{696,0},{91,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bower-sheet0_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,128}</string>
                <key>spriteSourceSize</key>
                <string>{103,128}</string>
                <key>textureRect</key>
                <string>{{787,0},{103,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy1.png</string>
            <key>size</key>
            <string>{890,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58e1a331b33e5eaa322a6b4e4f59b753:96227a0af2a575df8f0fc9c84024bee1:06f49396bc0f82a4363402ee68769a4a$</string>
            <key>textureFileName</key>
            <string>enemy1.png</string>
        </dict>
    </dict>
</plist>
