<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,202}</string>
                <key>spriteSourceSize</key>
                <string>{186,202}</string>
                <key>textureRect</key>
                <string>{{0,200},{186,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,202}</string>
                <key>spriteSourceSize</key>
                <string>{186,202}</string>
                <key>textureRect</key>
                <string>{{0,402},{186,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,202}</string>
                <key>spriteSourceSize</key>
                <string>{186,202}</string>
                <key>textureRect</key>
                <string>{{186,200},{186,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,200}</string>
                <key>spriteSourceSize</key>
                <string>{186,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{186,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,200}</string>
                <key>spriteSourceSize</key>
                <string>{186,200}</string>
                <key>textureRect</key>
                <string>{{186,0},{186,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,216}</string>
                <key>spriteSourceSize</key>
                <string>{200,216}</string>
                <key>textureRect</key>
                <string>{{186,402},{200,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>change.png</string>
            <key>size</key>
            <string>{386,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53d0050b46f8c98c241dc214cd855a91:0e5b4802aca592fe855858424ab42a2f:5223051bf369c51d6f84e47947f361aa$</string>
            <key>textureFileName</key>
            <string>change.png</string>
        </dict>
    </dict>
</plist>
