<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>corazon_drop_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.47619,0.110092}</string>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{104,91}</string>
                <key>spriteSourceSize</key>
                <string>{126,109}</string>
                <key>textureRect</key>
                <string>{{1,74},{104,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>corazon_drop_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.526316,0.294737}</string>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{105,71}</string>
                <key>spriteSourceSize</key>
                <string>{133,95}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>corazon_drop_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.515385,0.294737}</string>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{104,53}</string>
                <key>spriteSourceSize</key>
                <string>{130,95}</string>
                <key>textureRect</key>
                <string>{{1,167},{104,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>corazon_drop_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.492063,0.294737}</string>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{102,27}</string>
                <key>spriteSourceSize</key>
                <string>{126,95}</string>
                <key>textureRect</key>
                <string>{{1,222},{102,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>corazon_drop.png</string>
            <key>size</key>
            <string>{107,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1475771e1d0dc4564e4878d463e575cb:c14773007b3010e98bef58f17a2480a1:5e0626cc88371eb6e111e994960f9e4c$</string>
            <key>textureFileName</key>
            <string>corazon_drop.png</string>
        </dict>
    </dict>
</plist>
