<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>garra_sheet0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{133,152}</string>
                <key>spriteSize</key>
                <string>{371,294}</string>
                <key>spriteSourceSize</key>
                <string>{637,598}</string>
                <key>textureRect</key>
                <string>{{503,1},{371,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>garra_sheet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-16,-18}</string>
                <key>spriteSize</key>
                <string>{551,500}</string>
                <key>spriteSourceSize</key>
                <string>{637,598}</string>
                <key>textureRect</key>
                <string>{{1,1},{551,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>garra_sheet2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-133,-152}</string>
                <key>spriteSize</key>
                <string>{371,294}</string>
                <key>spriteSourceSize</key>
                <string>{637,598}</string>
                <key>textureRect</key>
                <string>{{503,297},{371,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>garra.png</string>
            <key>size</key>
            <string>{875,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ebda8f5096b306d3f2759b338b39d70:98f22604d5e7da24b5a48180aa2d53c9:7619fcf2fa9efe937bb21af3a787d8ec$</string>
            <key>textureFileName</key>
            <string>garra.png</string>
        </dict>
    </dict>
</plist>
