<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>human_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.482517,0.164557}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,79}</string>
                <key>spriteSourceSize</key>
                <string>{143,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{143,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>human_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.506757,0.172727}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,110}</string>
                <key>spriteSourceSize</key>
                <string>{148,110}</string>
                <key>textureRect</key>
                <string>{{0,79},{148,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>human_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.490066,0.125828}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{0,189},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>human_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.482517,0.0121212}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,165}</string>
                <key>spriteSourceSize</key>
                <string>{143,165}</string>
                <key>textureRect</key>
                <string>{{0,340},{143,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>human.png</string>
            <key>size</key>
            <string>{151,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54f5e9802168745537c511795849e7cc:9312b12de7bf9d8e3dd6555fcca683c7:4dd987fadc3a5e6c4694b553a984b76c$</string>
            <key>textureFileName</key>
            <string>human.png</string>
        </dict>
    </dict>
</plist>
