<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie2_drop_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.477707,0.060241}</string>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{149,138}</string>
                <key>spriteSourceSize</key>
                <string>{157,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{149,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie2_drop_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.477707,0.0542169}</string>
                <key>spriteOffset</key>
                <string>{-3,-22}</string>
                <key>spriteSize</key>
                <string>{151,110}</string>
                <key>spriteSourceSize</key>
                <string>{157,166}</string>
                <key>textureRect</key>
                <string>{{1,141},{151,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie2_drop_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525974,0.243902}</string>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{142,66}</string>
                <key>spriteSourceSize</key>
                <string>{154,82}</string>
                <key>textureRect</key>
                <string>{{154,98},{142,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zombie2_drop_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.503497,0.231707}</string>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{95,32}</string>
                <key>spriteSourceSize</key>
                <string>{143,82}</string>
                <key>textureRect</key>
                <string>{{152,1},{95,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zombie2_drop.png</string>
            <key>size</key>
            <string>{221,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:393b00b446e25288e4ddfdd3b1884fbb:043b5a0aac2b5a65a2a489d6264a67b3:714941185ff3c29b9677e8b88f22ed3c$</string>
            <key>textureFileName</key>
            <string>zombie2_drop.png</string>
        </dict>
    </dict>
</plist>
