<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.496503,0.219512}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,82}</string>
                <key>spriteSourceSize</key>
                <string>{143,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{143,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.506494,0.219512}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,82}</string>
                <key>spriteSourceSize</key>
                <string>{154,82}</string>
                <key>textureRect</key>
                <string>{{0,82},{154,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.471338,0.0481928}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,166}</string>
                <key>spriteSourceSize</key>
                <string>{157,166}</string>
                <key>textureRect</key>
                <string>{{0,164},{157,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.458599,0.060241}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,166}</string>
                <key>spriteSourceSize</key>
                <string>{157,166}</string>
                <key>textureRect</key>
                <string>{{0,330},{157,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zombie2.png</string>
            <key>size</key>
            <string>{157,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bd6d05b926c30bfcc0beae3463d56e8:febedafb8994a4d78fab82c93eca324f:3e5f9268c6f93e188ffb69556eca64c8$</string>
            <key>textureFileName</key>
            <string>zombie2.png</string>
        </dict>
    </dict>
</plist>
