<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie1_drop_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.496732,0.0914286}</string>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{151,157}</string>
                <key>spriteSourceSize</key>
                <string>{153,175}</string>
                <key>textureRect</key>
                <string>{{1,1},{151,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie1_drop_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478788,0.178808}</string>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{151,127}</string>
                <key>spriteSourceSize</key>
                <string>{165,151}</string>
                <key>textureRect</key>
                <string>{{154,1},{151,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zombie1_drop_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.528302,0.178947}</string>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{143,81}</string>
                <key>spriteSourceSize</key>
                <string>{159,95}</string>
                <key>textureRect</key>
                <string>{{1,160},{143,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie1_drop_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.514286,0.178947}</string>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{96,51}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{146,160},{96,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zombie1_drop.png</string>
            <key>size</key>
            <string>{282,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:872eeafa5878aaf22fb878d60fb0009b:5188c56343427ea033fb2297f81a6247:3c432a6fbf15b034479247b16701287a$</string>
            <key>textureFileName</key>
            <string>zombie1_drop.png</string>
        </dict>
    </dict>
</plist>
