<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.521429,0.168421}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,95}</string>
                <key>spriteSourceSize</key>
                <string>{140,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.528302,0.168421}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,95}</string>
                <key>spriteSourceSize</key>
                <string>{159,95}</string>
                <key>textureRect</key>
                <string>{{0,95},{159,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.448485,0.172185}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,151}</string>
                <key>spriteSourceSize</key>
                <string>{165,151}</string>
                <key>textureRect</key>
                <string>{{0,190},{165,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.470588,0.0914286}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,175}</string>
                <key>spriteSourceSize</key>
                <string>{153,175}</string>
                <key>textureRect</key>
                <string>{{0,341},{153,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zombie1.png</string>
            <key>size</key>
            <string>{165,516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff32edc4846ee9e512319336a54307c3:ce3b3adb0d7e53fe8b2af2eaa285773b:37ba338966dd9cd3739d6553eb6cf4a5$</string>
            <key>textureFileName</key>
            <string>zombie1.png</string>
        </dict>
    </dict>
</plist>
