<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.475806,0.196262}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,107}</string>
                <key>spriteSourceSize</key>
                <string>{124,107}</string>
                <key>textureRect</key>
                <string>{{0,0},{124,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.542484,0.218045}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,133}</string>
                <key>spriteSourceSize</key>
                <string>{153,133}</string>
                <key>textureRect</key>
                <string>{{0,107},{153,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.49359,0.178344}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,157}</string>
                <key>spriteSourceSize</key>
                <string>{156,157}</string>
                <key>textureRect</key>
                <string>{{0,240},{156,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.48366,0.0843373}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,166}</string>
                <key>spriteSourceSize</key>
                <string>{153,166}</string>
                <key>textureRect</key>
                <string>{{0,397},{153,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zombie3.png</string>
            <key>size</key>
            <string>{156,563}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05172d1eb5ad50d738e30a95ce396fc6:58bd99e0d94d07591d07ebcd0ddea94c:9162b01be240e45e8fdad07022ea96a5$</string>
            <key>textureFileName</key>
            <string>zombie3.png</string>
        </dict>
    </dict>
</plist>
