<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{0,0},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{600,0},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1200,0},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1800,0},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{2400,0},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{3000,0},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{0,600},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{600,600},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1200,600},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1800,600},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{2400,600},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{3000,600},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{0,1200},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{600,1200},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1200,1200},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1800,1200},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{2400,1200},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{3000,1200},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{0,1800},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{600,1800},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1200,1800},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{1800,1800},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{2400,1800},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,600}</string>
                <key>spriteSourceSize</key>
                <string>{600,600}</string>
                <key>textureRect</key>
                <string>{{3000,1800},{600,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>alien.png</string>
            <key>size</key>
            <string>{3600,2400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2849b88855cc5e437e35ea53809f6f34:2671c8ca5586559388a9d2e1a3a1d304:de81843e51d646d6e87dbbac08c0c15a$</string>
            <key>textureFileName</key>
            <string>alien.png</string>
        </dict>
    </dict>
</plist>
