<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,122}</string>
                <key>spriteSourceSize</key>
                <string>{253,122}</string>
                <key>textureRect</key>
                <string>{{0,0},{253,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,128}</string>
                <key>spriteSourceSize</key>
                <string>{253,128}</string>
                <key>textureRect</key>
                <string>{{253,0},{253,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quick3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,144}</string>
                <key>spriteSourceSize</key>
                <string>{255,144}</string>
                <key>textureRect</key>
                <string>{{506,0},{255,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quick4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,149}</string>
                <key>spriteSourceSize</key>
                <string>{256,149}</string>
                <key>textureRect</key>
                <string>{{761,0},{256,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quick5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,143}</string>
                <key>spriteSourceSize</key>
                <string>{257,143}</string>
                <key>textureRect</key>
                <string>{{1017,0},{257,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quick6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,128}</string>
                <key>spriteSourceSize</key>
                <string>{254,128}</string>
                <key>textureRect</key>
                <string>{{1274,0},{254,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quick7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,122}</string>
                <key>spriteSourceSize</key>
                <string>{256,122}</string>
                <key>textureRect</key>
                <string>{{1528,0},{256,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>quick.png</string>
            <key>size</key>
            <string>{1784,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2476d5712ef6ba6379d07489fdbe22b:16325fa1be64e34f623e81edac79f296:c6862c7746d795a2609264bcf7be5c2b$</string>
            <key>textureFileName</key>
            <string>quick.png</string>
        </dict>
    </dict>
</plist>
