<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AllAcMc_000081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,76}</string>
                <key>spriteSourceSize</key>
                <string>{63,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{63,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AllAcMc_000082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,54}</string>
                <key>spriteSourceSize</key>
                <string>{76,54}</string>
                <key>textureRect</key>
                <string>{{0,76},{76,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hand.png</string>
            <key>size</key>
            <string>{76,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8daafcd54b523549202120f4a745900a:def2737cf6e6a02997c434f6c44ec812:8f54194549cea00f826698312f5b1bd4$</string>
            <key>textureFileName</key>
            <string>hand.png</string>
        </dict>
    </dict>
</plist>
