<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mon1_atk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_atk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{720,0},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_atk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1440,0},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_atk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{2160,0},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_atk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{2880,0},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_atk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{0,720},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{720,720},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1440,720},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{2160,720},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{2880,720},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{0,1440},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{720,1440},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1440,1440},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{2160,1440},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon1_run6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{2880,1440},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mon1.png</string>
            <key>size</key>
            <string>{3600,2160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd9f1c769e5879bddf12526627aeee6b:50f73e03cdfb2391fc75bf0987a78e16:3a17588ff63231c78f41154fcb106cdc$</string>
            <key>textureFileName</key>
            <string>mon1.png</string>
        </dict>
    </dict>
</plist>
