<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mon2_atk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_atk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{900,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_atk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1800,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_atk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{2700,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_atk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{0,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_atk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{900,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1800,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{2700,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{0,1800},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{900,1800},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1800,1800},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{2700,1800},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{0,2700},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{900,2700},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2_run6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1800,2700},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mon2.png</string>
            <key>size</key>
            <string>{3600,3600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67d9a17cb77200ae24b92605240e6c0d:3ff80464482f48c64439708c52495c4c:42e7055a1f8f107fe2a13402954eda7b$</string>
            <key>textureFileName</key>
            <string>mon2.png</string>
        </dict>
    </dict>
</plist>
