<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mon3_atk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{0,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_atk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{900,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_atk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1800,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_atk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{2700,0},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_atk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{0,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_atk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{900,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1800,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{2700,900},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{0,1800},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{900,1800},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1800,1800},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{2700,1800},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{0,2700},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{900,2700},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1800,2700},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3_run6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,900}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{2700,2700},{900,900}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mon3.png</string>
            <key>size</key>
            <string>{3600,3600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea6a93ec908b700f05cfcb1d4bcd38b6:4afa32803bb39177e5c77e7c645ee9ea:624e03691d8abd8e400f198a73054ebc$</string>
            <key>textureFileName</key>
            <string>mon3.png</string>
        </dict>
    </dict>
</plist>
