<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AllAcMc_000071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,15}</string>
                <key>spriteSourceSize</key>
                <string>{21,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AllAcMc_000072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{21,0},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>select.png</string>
            <key>size</key>
            <string>{54,23}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f6511d3bcff00e46a182a7e6f5d5ad7:e0e3944ec17e4e3c8c95e74bd701c174:b6c3947440dba32003e62c715898cc16$</string>
            <key>textureFileName</key>
            <string>select.png</string>
        </dict>
    </dict>
</plist>
