<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Skill_000061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,99}</string>
                <key>spriteSourceSize</key>
                <string>{135,99}</string>
                <key>textureRect</key>
                <string>{{0,0},{135,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill_000062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,99}</string>
                <key>spriteSourceSize</key>
                <string>{135,99}</string>
                <key>textureRect</key>
                <string>{{0,99},{135,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill_000063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,98}</string>
                <key>spriteSourceSize</key>
                <string>{134,98}</string>
                <key>textureRect</key>
                <string>{{0,198},{134,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill_000064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,98}</string>
                <key>spriteSourceSize</key>
                <string>{135,98}</string>
                <key>textureRect</key>
                <string>{{0,296},{135,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill1.png</string>
            <key>size</key>
            <string>{135,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a62c8926483603bf82616bace2e50a8:5500b63bab742ff316d190953cbd676f:ec55d2929b7c7cda108becbb2abc9d8d$</string>
            <key>textureFileName</key>
            <string>skill1.png</string>
        </dict>
    </dict>
</plist>
