<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_Slime1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Slime2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,50}</string>
                <key>spriteSourceSize</key>
                <string>{20,50}</string>
                <key>textureRect</key>
                <string>{{20,0},{20,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Slime3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,50}</string>
                <key>textureRect</key>
                <string>{{40,0},{64,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Slime4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,63}</string>
                <key>spriteSourceSize</key>
                <string>{68,63}</string>
                <key>textureRect</key>
                <string>{{104,0},{68,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Slime5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{72,76}</string>
                <key>textureRect</key>
                <string>{{172,0},{72,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_Slime6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{80,82}</string>
                <key>textureRect</key>
                <string>{{244,0},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>brith.png</string>
            <key>size</key>
            <string>{324,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a672106324a78502cf1e2ac4c6c2526:a98d4f815ea36561a2ad203ad7efa950:c387445d5af009ea494bf9f356381c25$</string>
            <key>textureFileName</key>
            <string>brith.png</string>
        </dict>
    </dict>
</plist>
